<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-12">
      <h1 class="display-4">Staff Bordeaux</h1>
      <p class="lead text-muted">TA & Teachers</p>
    </div>
  </div>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-4">
        <%= render "user_card_small", user: user %>
      </div>
    <% end %>
  </div>
  <% if @users.empty? %>
    <div class="row">
      <div class="col-12 text-center">
        <div class="alert alert-info">
          <h4>Aucun utilisateur trouvé</h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
